{% extends "admin_pages/Base_admin.html" %}
{% block title %}Udate Véhicule {% endblock %}
{% load static %}


{% block content %}
<div class="container-fluid" style="backdrop-filter: blur(50px)" >
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-500">Form</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-2 ">
            <h6 class="m-0 font-weight-bold text-primary">
                Information du Vehicule 
            
            <div class="small" style="float: right;">
                <a title="retour" href="{% url 'liste_véhi_list' %}">
                    <i style="color: rgb(20, 20, 255);" class="fa fa-arrow-left fa-sm">Retour</i>   
                </a>
            </div>
        </h6>   
        </div><br>
            <div class="text-center">
                <div class="row featurette">
                    <div class="card-body col-lg-6 ">
                        <div class="card shadow text-center">

                        <p>Nos véhicules sont des véhicules de classe, endurant, et stable disponible pour vous servir.</p>
                        <a target="_blank" rel="nofollow" href="">Liste des véhicules
                            unDraw &rarr;</a>
                        </div>
                    </div>
                    <div class="card-body col-lg-6"  >
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" 
                            src="{% static 'img/cars/car-1.jpg' %}" alt="...">
                    </div>
                </div>
            </div>
    </div>           

</div>
    

{% endblock %}