{% extends "admin_pages/Base_user.html" %}
{% load static %}


{% block content %}
<div class="container-fluid" style="backdrop-filter: blur(50px) ;" >
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-500">Form</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-2 ">
            <h6 class="m-0 font-weight-bold text-primary">
                Course 
            
            <div class="small" style="float: right;">
                <a title="retour" href="{% url 'accueil' %}">
                    <i style="color: rgb(20, 20, 255);" class="fa fa-arrow-left fa-sm">Retour</i>   
                </a>
            </div>
            
        </h6>   
            </div>
                <div class="card-body" >
                    <div class="form-responsive" > 
                        <form action="" method="post"  >
                            <br>
                            {% csrf_token %}

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Name</label>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Demandeur... " required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="date">Date</label>
                                    <input name="date" type="datetime-local" class="form-control" id="date" required>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="objet">Objet</label>
                                    <select name="objet" id="objet" class="form-control" required>
                                        <option>--Objet de course--</option>
                                        <option value="Achat">Achat</option>
                                        <option value="Banque">Banque</option>
                                        <option value="Mission">Mission</option>
                                        <option value="Colis">Colis</option>
                                        <option value="Pélèvement">Pélèvement</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="com">Lieu</label>
                                        <select name="com" id="com" class="form-control" required>
                                            <option>--Lieu--</option>
                                            <option value="koum">koumassi</option>
                                            <option value="Marc">Marcory</option>
                                            <option value="trei">Treichville</option>
                                            <option value="port">Port-Bouet</option>
                                            <option value="plat">Plateau</option>
                                           
                                        </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="email">Email</label>
                                    <input name="email" type="text" class="form-control" id="email" placeholder="Email... " required>
                                </div>
                            </div>
                                <center>
                                    <div class="card text-center" style="width: 100%; height: 1px; border-radius: 8px; border: none; background-color: rgba(234, 222, 222, 0.401);" >
                                        <div class="card-body" style="width: 100%;  border-radius: 8px; border: none;" >
                                            <h5 class="card-title" style="color: rgb(19, 85, 2); font-size: 12px; margin-top: -10px;">
                                                {% for message in messages %}
                                                    {{message | safe}}
                                                {% endfor %}
                                            </h5>
                                        </div>
                                    </div>
                                </center>
                            <center><p></p>
                                <br>
                                <button type="submit" class="btn btn-outline-primary w-60 col-md-16">Save</button>

                            </center>
                        </form>

                    </div>
                </div>
            </div>

</div>
{% endblock  %}
