{% extends "base.html" %}
{% load static %}
{% block content %}

<center>
    <!--<div class="container">-->
        <div class="wrapper">
            <div class="form-box login">
                <h2 style="width: 60%;">Password Forget</h2><p></p>
                <center>
                    <div class="text-center" >
                        We get it, stuff happens. Just enter your email address below 
                        and we'll send you a link to reset your password!
                    </div>
                </center>
                <form action="#">
                    <div class="input-box">
                        <span class="icon"><i class="fa fa-at"></i></span>
                        <input type="email" id="email" name="email" required>
                        <label for="">Email...</label>
                    </div>
                    
                    <br>
                    <center>
                        <button type="submit" class="btn btn-outline-primary w-30 col-md-16 h-30">Reset Password</button>
                    </center>
                    <br>
                    <div class="text-center" style="color: rgb(68, 151, 252); ">Already have an account? 
                        <a href="{% url 'login' %}">Login</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="{% url 'accueil' %}">Quitter</a>
                    </div>
                </form>
        </div>

</center>


 



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/js/jquery-1.8.3.min.js" integrity="sha512-J9QfbPuFlqGD2CYVCa6zn8/7PEgZnGpM5qtFOBZgwujjDnG5w5Fjx46YzqvIh/ORstcj7luStvvIHkisQi5SKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>

<br><br>
{% endblock content %}